#projects {
    background-color: var(--slate);
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}


.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 3rem;
}



@media (max-width: 768px) {

    .project-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
