@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

#root {
  --slate: #e9ecef;

  font-family: 'Montserrat', sans-serif;
  color: #232323;
}


.construction-placeholder {
  background-color: #ffc500;
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-content: center;
  justify-content: center;
  text-align: center;
}